#!/usr/bin/bash
@begin
from control import get_nodes
this = int(getenv("id"))
nodes = get_nodes()
@end
echo "#!/usr/bin/bash" > ~/pass.sh
echo "echo '@(nodes[this]['password'])'" >> ~/pass.sh
chmod +x ~/pass.sh
set +e
# SUDO_ASKPASS=~/pass.sh sudo -A ip route delete default
# SUDO_ASKPASS=~/pass.sh sudo -A ip route delete default
# SUDO_ASKPASS=~/pass.sh sudo -A ip route delete default
SUDO_ASKPASS=~/pass.sh sudo -A rm bird.log
SUDO_ASKPASS=~/pass.sh sudo -A ./bird -l